@model WPA_MVC.Models.Passwords
@{
    string inputToUse = Model.InputToUse ? "1" : "0";
    ViewData["Title"] = "Home Page";
}


<div class="h1">Password Generator</div>

<form method="post">
    <div class="row">
        <div class="col-xs-1 float-left">
            <input id="rdoUseExisting" type="radio" class="col-xs-2" name="existingPassw" value="1" />
        </div>
        <div class="col-xs-11">
            <label for="rdoUseExisting" class="font-size-normal col-xs-10">Use an existing password (the new password will have the same length and the same symbols)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 float-left">
            <input id="rdoDontUseExisting" type="radio" class="pull-left col-xs-2" name="existingPassw" value="0" />
        </div>
        <div class="col-xs-11">
            <label for="rdoDontUseExisting" class="font-size-normal col-xs-10">Don't use an existing password</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <input id="txtExistingPassw" type="text" class="form-control" asp-for="InputPassword" value="@Model.InputPassword" />
            </div>
            <div class="form-group">
                <input id="txtNewPassw" type="text" class="form-control" asp-for="OutputPassword" value="@Model.OutputPassword" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <select id="selSettings" class="form-control" asp-for="Length">
                    @{ for (int i = Model.MinLength; i <= Model.MaxLength; i++)
                        {
                            if (Model.Length == null && i == Model.MinLength)
                            {
                                <option class="container-1row-font-size-normal" selected>@i</option>
                            }
                            else if (Model.Length != null && i == Int32.Parse(Model.Length))
                            {
                                <option class="container-1row-font-size-normal" selected>@i</option>
                            }
                            else
                            {
                                <option class="container-1row-font-size-normal">@i</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group container-ten-rows">
                <select id="selSettings" multiple class="form-control ten-rows">
                    <option class="container-1row-font-size-normal">Include Symbols ( e.g. $%&! )</option>
                    <option class="container-1row-font-size-normal">Include Numbers ( e.g. 123456 )</option>
                    <option class="container-1row-font-size-normal">Include Lowercase Characters ( e.g. abcdefgh )</option>
                    <option class="container-1row-font-size-normal">Include Uppercase Characters ( e.g. ABCDEFGH )</option>
                    <option class="container-1row-font-size-normal">Exclude Similar Characters ( e.g. i, l, 1, L, o, 0, O )</option>
                    <option class="container-1row-font-size-normal">Exclude Ambiguous Characters ( { } [ ] ( ) / \ ' " ` ~ , ; : . < > )</option>
                    <option class="container-1row-font-size-normal">Generate On Your Device ( do NOT send across the Internet )</option>
                    <option class="container-1row-font-size-normal">Auto-Select ( select the password automatically )</option>
                    <option class="container-1row-font-size-normal">Save My Preference ( save all the settings above for later use )</option>
                    <option class="container-1row-font-size-normal">Load My Settings Anywhere - URL to load my settings on other computers quickly</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" class="btn btn-info" />
        </div>
    </div>
</form>

@section Scripts {
    <script>
        let inputToUse = "@inputToUse";

        $(document).ready(function(){
            if (inputToUse == "1") {
                $("#rdoUseExisting").attr("checked", "checked");
            }
            else {
                $("#rdoDontUseExisting").attr("checked", "checked");
            }
            console.log(inputToUse);
        });
    </script>
}